<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            TSV File Plots
    </h1>
    
    <p>Click to see charts on different pages</p>
    
    <h1><a href="chart1">File 1</a></h1>
    <h1><a href="chart2">File 2</a></h1>
    <h1><a href="chart3">File 3</a></h1>
    <h1><a href="chart4">File 4</a></h1>
    <h1><a href="chart5">File 5</a></h1>
    <h1><a href="chart6">File 6</a></h1>
    <h1><a href="chart7">File 7</a></h1>
    <h1><a href="chart8">File 8</a></h1>
    <h1><a href="chart9">File 9</a></h1>
    <h1><a href="chart10">File 10</a></h1>
    <h1><a href="chart11">File 11</a></h1>
    <h1><a href="chart12">File 12</a></h1>
    <h1><a href="chart13">File 13</a></h1>


</body>
</html>