<!doctype html>
<html>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Plots
            <h6><a href="/">Home</a></h6>
    </h1>
    <div id='chart1' class='chart'></div>
    <div id='chart2' class='chart'></div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>-->

<script type='text/javascript'>
    var graphs = [{{graphJSON1 | safe}}, {{graphJSON2 | safe}}];
    var chartIds = ['chart1', 'chart2'];
    for (var i = 0; i < graphs.length; i++) {
        Plotly.plot(chartIds[i], graphs[i], {});
    }
</script>

</html>